@model IEnumerable<AJobBoard.Models.Apply>

@{
    ViewData["Title"] = "Index";
}
<style>
    table.center {
        margin-left: auto;
        margin-right: auto;
    }

    .dataTables_wrapper.dt-bootstrap4.no-footer {
        background-color: bisque;
        padding: 50px;
        border-radius: 25px;
    }

    #myTable {
        margin-top: 25px !important;
        margin-bottom: 25px !important;
    }

    .dataTables_info {
        font-size: smaller;
    }

    .pagination {
        font-size: smaller;
    }

    #myTable > tbody {
        font-size: 18px;
    }
</style>
@using (Html.BeginForm("Create", "Applies", FormMethod.Post))
{
    @Html.AntiForgeryToken()
}

<section class="site-section" style="background-color: currentColor;padding-top:200px;">
    <div class="container">
        <h1>Under development</h1>
    </div>
</section>

@section Scripts {

    <script>
        var table = "";
        var antiForgeryToken = $("input[name='__RequestVerificationToken']").val();
        function DeleteApp(ID) {
            $.ajax({
                method: "DELETE",
                contentType: 'application/json',
                headers: { "RequestVerificationToken": antiForgeryToken },
                url: "/api/AppliesAPI/" + ID,
                success: function (data) {
                    alertify.success("Removed");
                    table.ajax.reload();
                },
                error: function (xhr) { // if error occured
                    alertify.error("Could Not remove this Job from your Applies");
                }
            })
        }
        $('.delete').click(function () {


        });
        $(document).ready(function () {

        });

    </script>

}
