@model AJobBoard.Models.Document

@{
    ViewData["Title"] = "Edit";
}

<section class="site-section" style="background-color: currentColor;padding-top:200px;">
    <div class="container">
        <div class="row mb-5 justify-content-center">
            <div class="col-md-7 text-center" style="padding-bottom: 10px;">
                <h5 class="section-title mb-2" style="color:white;">Edit Document</h5>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="DocumentId" />
                            <div class="form-group">
                                <label style="font-size:larger;color: white;" class="control-label">Document Name</label>
                                <input asp-for="DocumentName" class="form-control" />
                                <span asp-validation-for="DocumentName" class="text-danger"></span>
                            </div>
                            <div class="form-group form-check">
                                <label class="form-check-label" style="font-size:larger;color: white;">
                                    <input class="form-check-input" asp-for="IsResume" /> @Html.DisplayNameFor(model => model.IsResume)
                                </label>
                            </div>
                            <div class="form-group form-check">
                                <label class="form-check-label" style="font-size:larger;color: white;">
                                    <input class="form-check-input" asp-for="IsOtherDoc" /> @Html.DisplayNameFor(model => model.IsOtherDoc)
                                </label>
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>
                            <div>
                                <a class="btn btn-primary" asp-action="Index">Back to Dcouments</a>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-4"></div>
                </div>
                
            </div>
        </div>
    </div>



</section>


