@{
    Layout = "/Areas/Identity/Pages/_Layout.cshtml";
}
    <section class="site-section" style="background-color:#5e6d6d;">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-8">
                

                <div>
                    <h1>Manage your account</h1>
                    <h4>Change your account settings</h4>
                    <hr />
                    <div class="row">
                        <div class="col-md-3">
                            <partial name="_ManageNav" />
                        </div>
                        <div class="col-md-9">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </section>
@section Scripts {
    @RenderSection("Scripts", required: false)
}
