@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}
<section class="site-section" style="background-color: #9b9b9b;">
    <div class="container">

        <div class="row">
            <div class="col-md-3 col-md-7 col-lg-4 mx-auto my-5">
                <partial name="_ManageNav" />
            </div>
            <div class="col-sm-9 col-md-7 col-lg-8 mx-auto">
                <div class="card card-signin my-5 w-200" style="padding: 15px;">
                    <p>Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
                    <p>
                        <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
                    </p>
                    <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
                        <button class="btn btn-primary" type="submit">Download</button>
                    </form>
                    <p>
                        <a id="delete" asp-page="DeletePersonalData" class="btn btn-primary">Delete</a>
                    </p>
                </div>
            </div>
        </div>

    </div>
</section>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}