
    <section class="site-section" style="background-color: black;padding: 300px">
        <h1>Data Admin</h1>

        <div class="container" style="height: 300px;">
            <div class="row">
                <div class="col-5">

                </div>
                <div class="col-3">
                    <div id="actions-menu">
                        <h5 style="color: aliceblue;">Actions</h5>
                        <div class="btn btn-primary" id="reindex-btn">
                            Click here to re-index
                        </div>
                    </div>

                    <div id="loader"></div>
                </div>
                <div class="col-4">

                </div>
            </div>
        </div>
    </section>


@section Scripts{
    <script>
        $(document).ready(function () {
            let loader = document.getElementById("loader");
            let reIndexTarget = document.getElementById("actions-menu");
            loader.style.display = "none";
            $("#reindex-btn").click(function () {
                loader.style.display = "block";
                reIndexTarget.style.display = "none";
                $.get("/api/ReIndexJobs/Index", function (data, status) {
                    alert("Data: " + data + "\nStatus: " + status);
                });
            });
        });
    </script>

}