

<section class="site-section" style="background-color: cadetblue;padding-top: 10rem;">
    <div class="row">

        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <a asp-area="Identity" asp-page="/Account/RegisterJobSeeker" class="btn btn-primary btn-lg btn-block text-white btn-search">Job Seeker</a>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <a asp-area="Identity" asp-page="/Account/RegisterRecuriter" class="btn btn-primary btn-lg btn-block text-white btn-search">Recruiter</a>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
</section>